.Main_content .section {
    position: relative;
    overflow: hidden;
}







.header .header_bar {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 1000;
}

.header .header_bar a {
    display: block;
    font-size: 30px;
    background: #ffdede;
    border-radius: 50%;
    pointer-events: none;
}

.header .header_bar i {
    padding: 10px;
}


.header .header_gnb {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: fixed;
    top: -200%;
    right: 0;
    z-index: 999;
    background: #ffdede;
    width: 100%;
    height: 100%;
    line-height: 60px;
}

.header .header_gnb.on {
    top: 0;
}

.header .header_gnb>ul {
    display: flex;
    justify-content: space-evenly;
}

.header .header_gnb>ul>li>a {
    position: relative;
    font-size: 40px;
    line-height: 130px;
    font-family: 'Abril Fatface', cursive;
}

.header .header_gnb>ul>li>a::before {
    position: absolute;
    content: "";
    top: 13px;
    left: -15px;
    width: 3px;
    height: 30px;
    background: #000;
}

.header .header_gnb>ul>li .sub {
    position: static;
    left: 0;
    transform: translate(0, 0);
    color: #000;
    text-align: left;
}

/* <반응형때 메뉴 클릭 시 서브메뉴 나오게>
.header .header_gnb:hover>ul>li .sub {
    width: 100%;
    height: 100%;
    transition: none;
    display: none;
} */

.header .header_gnb>ul>li .sub a {
    display: block;
    font-size: 18px;
    line-height: 50px;
}

.header .header_gnb>ul>li .sub a span {
    font-size: 25px;
    font-weight: 700;
    color: #720909;
}








.main {
    position: relative;
    background: #ffdede;
}

.main::before {
    content: "";
    position: absolute;
    top: 150px;
    right: 200px;
    width: 70px;
    height: 70px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
}

.main::after {
    content: "";
    position: absolute;
    bottom: 150px;
    left: 200px;
    width: 70px;
    height: 70px;
    border-bottom: 4px solid #000;
    border-left: 4px solid #000;
}


.main .main_wrap {
    display: flex;
    justify-content: space-between;
}

.main .main_tit {
    transform: translate(0, -100px);
}

.main .main_tit strong {
    display: block;
    font-size: 30px;
    margin: 0 0 10px 0;
}

.main .main_tit h1 {
    font-size: 130px;
    line-height: 140px;
    font-family: 'Abril Fatface', cursive;
}

.main .main_txt {
    position: relative;
    align-self: flex-end;
    transform: translate(0, 100px);
}

.main .main_txt li {
    font-size: 18px;
    margin: 0 0 5px 0;
}

.main .main_txt li:nth-child(2) {
    font-weight: 700;
    margin: 0 0 17px 0;
}

.main .main_txt li i {
    border: 1px solid #111;
    border-radius: 50%;
    padding: 5px;
}









/* 😎웹디자인😎 */
/* <<<<<< 시작 section 공통 디자인  */
.w_sub_wrap {
    display: flex;
    gap: 270px;
}

.sub_img {
    position: relative;
    display: flex;
}

.sub_img .pc_img {
    width: 880px;
    height: 570px;
    overflow: hidden;
    border: 10px solid #fff;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.sub_img .pc_img img {
    transform: translate(0);
    transition: 7s;
}

.sub_img .pc_img:hover img {
    transform: translate(0, calc(-100% + 400px));
}

.sub_img .m_img {
    position: absolute;
    top: 45%;
    right: -15%;

    width: 170px;
    height: 350px;
    overflow: hidden;
    border: 8px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.sub_img .m_img img {
    transform: translate(0);
    transition: 7s;
}

.sub_img .m_img:hover img {
    transform: translate(0, calc(-100% + 400px));
}

.w_sub_wrap .sub_txt {
    display: flex;
    flex-direction: column;
    align-self: center;

    transform: translate(0, 100px);
    opacity: 0;
}

.section.on .sub_txt {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s;
}

.w_sub_wrap .sub_txt figure {
    margin: 0 0 13px 0;
}

.w_sub_wrap .sub_txt figure img {
    width: 150px;
}

.w_sub_wrap strong {
    display: block;
    position: absolute;
    top: 160px;
    left: 200px;
    font-size: 17px;
    font-weight: 300;
    color: #fff;
}

.w_sub_wrap .sub_txt h2 {
    font-size: 18px;
    margin: 0 0 50px 0;
}

.w_sub_wrap .sub_list {
    display: flex;
    gap: 30px;
    margin: 0 0 50px 0;
}

.w_sub_wrap .sub_list>ul>li {
    height: 40px;
}

.w_sub_wrap .list_tit {
    font-size: 18px;
    font-weight: 400;
}

.w_sub_wrap .list_txt {
    font-size: 17px;
    color: #666;
}

.w_sub_wrap .list_txt .color {
    font-size: 0;
    line-height: 40px;
}

.w_sub_wrap .list_txt .color ol {
    display: flex;
    gap: 10px;
}

.w_sub_wrap .list_txt .color li {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.w_sub_wrap .block {
    font-size: 0;
}

.w_sub_wrap .click a {
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    padding: 7px 40px;
}

/* < section 공통 디자인 끝 >>>>> */




.w_sub01::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -450px;
    width: 1200px;
    height: 1200px;
    /* border-radius: 50%; */
    background: #222;
    z-index: -1;
}

.w_sub01 .list_txt .color li:nth-child(1) {
    background: #222;
}

.w_sub01 .list_txt .color li:nth-child(2) {
    background: #b9b9b9;
}

.w_sub01 .list_txt .color li:nth-child(3) {
    background: #ED1C24;
}

.w_sub01 .click a {
    background: #222;
}






.w_sub02 {
    position: relative;
}

.w_sub02::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -450px;
    width: 1200px;
    height: 1200px;
    /* border-radius: 50%; */
    background: #231815;
    z-index: -1;
}

.w_sub02 strong {
    right: 340px;
    text-align: right;
}

.w_sub02 .sub_img {
    position: absolute;
    top: 20.5%;
    right: 17.5%;
}

.w_sub02 .list_txt .color li:nth-child(1) {
    background: #42251d;
}

.w_sub02 .list_txt .color li:nth-child(2) {
    background: #467f5a;
}

.w_sub02 .list_txt .color li:nth-child(3) {
    background: #fffcf4;
    border: 1px solid #ddd;
}

.w_sub02 .click a {
    background: #3a251e;
}






.w_sub03::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -450px;
    width: 1200px;
    height: 1200px;
    /* border-radius: 50%; */
    background: #a2bdcf;
    z-index: -1;
}

.w_sub03 .list_txt .color li:nth-child(1) {
    background: #326aff;
}

.w_sub03 .list_txt .color li:nth-child(2) {
    background: #111b2a;
}

.w_sub03 .click a {
    background: #a2bdcf;
}






.w_sub04 {
    position: relative;
}

.w_sub04::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -450px;
    width: 1200px;
    height: 1200px;
    /* border-radius: 50%; */
    background: #00362b;
    z-index: -1;
}

.w_sub04 strong {
    right: 340px;
    text-align: right;
}

.w_sub04 .sub_img {
    position: absolute;
    top: 20.5%;
    right: 17.5%;
}

.w_sub04 .list_txt .color li:nth-child(1) {
    background: #028267;
}

.w_sub04 .list_txt .color li:nth-child(2) {
    background: #222;
}

.w_sub04 .click a {
    background: #004d3d;
}





.w_sub05::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -450px;
    width: 1200px;
    height: 1200px;
    /* border-radius: 50%; */
    background: #910b10;
    z-index: -1;
}

.w_sub05 .list_txt .color li:nth-child(1) {
    background: #d10007;
}

.w_sub05 .list_txt .color li:nth-child(2) {
    background: #222;
}

.w_sub05 .click a {
    background: #d10007;
}

/* 😎웹디자인 끝😎 */











/* 🤩비주얼디자인🤩 */
/* <<<<<< 시작 section 공통 디자인  */
.vi_sub_wrap {
    transform: translate(0, 100px);
    opacity: 0;
}

.section.on .vi_sub_wrap {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s;
}

.vi_sub_wrap strong {
    display: block;
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.vi_sub_wrap h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 130px 0;
}

.vi_sub_wrap .sub_tit {
    display: flex;
    gap: 30px;
    margin: 0 0 10px 0;
}

.vi_sub_wrap .sub_tit>ul>li {
    height: 40px;
}

.vi_sub_wrap .list_tit {
    font-size: 18px;
    font-weight: 400;
}

.vi_sub_wrap .list_txt {
    font-size: 17px;
    color: #666;
}

.vi_sub_wrap .list_txt .color {
    font-size: 0;
    line-height: 40px;
}

.vi_sub_wrap .list_txt .color ol {
    display: flex;
    gap: 10px;
}

.vi_sub_wrap .list_txt .color li {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.vi_sub_wrap .origin_img img {
    height: 120px;
    border: 1px solid #fff;
}

.vi_sub_wrap .block {
    font-size: 0;
}

/* < section 공통 디자인 끝 >>>>> */




.vi_sub01_1 {
    background: url(../images/SNS중독\ 포스터_목업1.jpg)no-repeat center center/cover;
}

.vi_sub01_1 strong {
    color: #ED1C24;
}

.vi_sub01_1 .list_txt .color li:nth-child(1) {
    background: #ED1C24;
}

.vi_sub01_1 .list_txt .color li:nth-child(2) {
    background: linear-gradient(to right bottom, #384EA1 11%, #5A5BA8 22%, #7C489C 33%, #C23785 44%, #E1326D 55%, #EB484D 66%, #F4773A 77%, #FBAF46 88%, #E1DD80 100%);
}

.vi_sub01_1 .list_txt .color li:nth-child(3) {
    background: #314A7E;
}

.vi_sub01_1 .list_txt .color li:nth-child(4) {
    background: #0787BB;
}

.vi_sub01_2 {
    background: url(../images/SNS중독\ 포스터_목업2.jpg)no-repeat center center/cover;
}




.vi_sub02_1 {
    background: url(../images/아디다스\ 신발\ 포스터_목업1.jpg)no-repeat center center/cover;
}

.vi_sub02_1 strong {
    color: #116933;
}

.vi_sub02_1 .list_txt .color li:nth-child(1) {
    background: #116933;
}

.vi_sub02_1 .list_txt .color li:nth-child(2) {
    background: #ffb216;
}

.vi_sub02_1 .list_txt .color li:nth-child(3) {
    background: #0e87c2;
}

.vi_sub02_1 .list_txt .color li:nth-child(4) {
    background: #f00c00;
}

.vi_sub02_2 {
    background: url(../images/아디다스\ 신발\ 포스터_목업2.jpg)no-repeat center center/cover;
}




.vi_sub03_1 {
    background: url(../images/해운대모래축제_목업1.jpg)no-repeat center center/cover;
}

.vi_sub03_1 strong {
    color: #D09C4F;
}

.vi_sub03_1 .list_txt .color li:nth-child(1) {
    background: #D09C4F;
}

.vi_sub03_1 .list_txt .color li:nth-child(2) {
    background: #754C29;
}

.vi_sub03_1 .list_txt .color li:nth-child(3) {
    background: #2A5B35;
}

.vi_sub03_2 {
    background: url(../images/해운대모래축제_목업2.jpg)no-repeat center center/cover;
}




.vi_sub04_1 {
    background: url(../images/책\ 컬러리스트_목업1.png)no-repeat center center/cover;
}

.vi_sub04_1 strong {
    color: #742B85;
}

.vi_sub04_1 .list_txt .color li:nth-child(1) {
    background: #742B85;
}

.vi_sub04_1 .list_txt .color li:nth-child(2) {
    background: #0B1252;
}

.vi_sub04_1 .list_txt .color li:nth-child(3) {
    background: #EC008C;
}

.vi_sub04_1 .list_txt .color li:nth-child(4) {
    background: #FFF200;
}

.vi_sub04_2 {
    background: url(../images/책\ 컬러리스트_목업2.jpg)no-repeat center center/cover;
}




.vi_sub05_1 {
    background: url(../images/생활맥주_목업1.jpg) no-repeat center center/cover;
}

.vi_sub05_1 strong {
    color: #F5C700;
}

.vi_sub05_1 .list_txt .color li:nth-child(1) {
    background: #F5C700;
}

.vi_sub05_1 .list_txt .color li:nth-child(2) {
    background: #1D1D1B;
}

.vi_sub05_1 .origin_img img {
    height: 120px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.vi_sub05_2 {
    background: url(../images/생활맥주_목업2.jpg)no-repeat center center/cover;
}

/* 🤩비주얼디자인 끝🤩 */









.footer {
    background: #ffdede;
}

.footer .footer_box {
    display: flex;
    justify-content: space-around;
}

/* .footer .footer_box>* {
    flex: 1;
} */

.footer .footer_img img {
    height: 500px;
}

.footer .footer_box h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.footer .case:nth-child(1) {
    display: flex;
    flex-direction: column;
    height: 350px;
}

.footer .case:nth-child(3) {
    display: flex;
    flex-direction: column;
    height: 350px;
}

.footer .case>ul>li {
    font-size: 16px;
    font-weight: 400;
}

.footer .case>ul>li span {
    display: block;
}

.footer .case>ul>li span:nth-child(1) {
    color: #720909;
    font-weight: 500;
    margin: 0 0 5px 0;
}

.footer .case>ul>li span:nth-child(2) {
    margin: 0 0 12px 0;
}

.footer .left_txt>ul>li:nth-child(1) {
    margin: 0 0 20px 0;
}